{% extends "base.html" %}
{%block title %} {{title}}
{% endblock title%}

{% block body %}


    <h1> {{first_line}} </h1>
    <p> {{second_line}} </p>

    <!-- creating dynamic table using bootstrap -->
    <div class="container">
        <table class="table   table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                {%for i in people%}
                <!-- people will contail the list of dictionary, i will contain the individual dictionary -->

                <!-- i = {"name": "Aarav", "age": 25, "salary": 50000, "address": "Kathmandu"}, -->

                <tr>
                    <th scope="row"> {{forloop.counter}} </th>
                    <!-- 'forloop.counter' is used to set id in ascending order  -->
                    <td> {{i.name}} </td>

                    <td>
                        {% if i.age < 18%} Underage {%elif i.age >= 18 and i.age < 50 %} Adult {%else%} Old {%endif%}
                                ({{i.age}}) </td>


                    <td> {{i.salary}} </td>
                    <td> {{i.address}} </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>

    </div>


{%endblock body%}